.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .container {
    width: 70%;
  }

  .subTitleSection {
    display: flex;
    justify-content: ceneter;
    align-items: center;
    margin: 20px 0;
    padding: 20px;
    background-color: #f4f4f2;

    .subTitle {
      padding-right: 20px;
    }

    .fa-mug-saucer {
      width: 40px;
      padding-right: 10px;
    }
  }

  .product {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;

    a {
      text-decoration: none;
      color: black;
    }
    .hidden {
      width: 300px;
      height: 313px;
      overflow: hidden;
    }

    li {
      list-style: none;
      padding-left: 20px;

      .coffeeName {
        padding: 10px;
        text-align: center;
      }
      .fa-regular.fa-heart {
        padding: 5px;
      }

      .fa-solid.fa-heart {
        padding: 5px;
        color: red;
      }
    }

    img {
      width: 300px;
      height: 313px;
      transition: all 0.7s ease;
    }

    img:hover {
      transform: scale(1.1);
    }
  }
}
