.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f4f4f2;

  .title {
    font-family: "Dancing Script", cursive;
    font-size: 20px;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 500px;
    color: #b9b9b4;
    list-style: none;
  }
}
